<li>
    <h2 class="card-title">
        <div class="card-flag">
            <img src="{{flag}}" alt="flag {{name}}" width="30px">
        </div>
        <p class="country__title">{{name}}</p>
    </h2>
</li>